@select-width: auto;
@select-height: @basic-height;
@select-line-height: @basic-height;
@select-option-height: @basic-height;

.@{select} {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  transition: all .3s cubic-bezier(.645,.045,.355,1);

  .hover();

  &,
  & > &-panel,
  & > &-panel > &-panel-context {
    width: @select-width;
  }

  &-panel{
    position: relative;
    &-context {
      padding-right: 25px;
    }
    &-icon {
      position: absolute;
      right:0px;
      top:0px;
    }
  }

  & > .@{dropdown} {
    display: none;
  }
}

.@{select}-actived {
  .focused();
  & > .@{dropdown} {
    display: block;
    z-index: @max-z-index;
  }
}

.@{select}-option {
  height: @select-option-height;
  line-height: @select-option-height;
  transition: background 0.3s ease;
  padding: 0 10px;
  &:hover {
    background-color: @option-hover-bg-color;
  }
}

.@{select}-option-selected {
  font-weight: 600;
  background: @option-selected-bg-color;
}