@select-width: auto;
@select-height: @basic-height;
@select-line-height: @basic-height;
@select-option-height: @basic-height;

.@{select} {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  transition: all .3s cubic-bezier(.645,.045,.355,1);

  .hover();
  &:hover {
    .@{select}-panel-icon {
      color: @input-hover-border-color;
    }
  }

  &,
  & > &-panel,
  & > &-panel > &-panel-context {
    width: @select-width;
  }

  &-panel{
    position: relative;
    &-context {
      padding-right: 25px;
    }
    &-icon {
      position: absolute;
      font-size: 12px;
      right:0px;
      top:50%;
      height: 12px;
      margin-top: -6px;
      color: @border-color;
      transition: all .25s linear;
    }
    .@{icon}-arrow {
      transform: rotate(-90deg) scale(.85);
    }
    .@{icon}-loading {
      .v3-anim-rotation();
    }
  }

  & > .@{dropdown} {
    display: none;
  }
}

.@{select}-actived {
  .focused();
  & > .@{dropdown} {
    display: block;
    z-index: @max-z-index;
  }
  .@{select}-panel-icon {
    color: @input-hover-border-color;
  }
  .@{icon}-arrow {
    transform: rotate(90deg);
  }
}

.@{select}-option {
  height: @select-option-height;
  line-height: @select-option-height;
  transition: background 0.3s ease;
  padding: 0 10px;
  &:hover {
    background-color: @option-hover-bg-color;
  }
}

.@{select}-option-selected {
  font-size: 12px;
  font-weight: 600;
  background: @option-selected-bg-color;
  &-icon {
    .v3-iconfont();
    font-size: @font-size;
    &::before {
      display: block;
      float: right;
      color: @input-hover-border-color;
      font-size: 16px;
    }
    clear: both;
  }
}